@media (max-width: 768px) {
  .section-1 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .section-2 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .boxes {
    width: 40%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .section-1 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .section-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .boxes {
    width: 100%;
    justify-content: center;
  }
}
